<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Kevin Suttle">
	<link rel="shortcut icon" href="favicon.ico" />

	<title>
		{% if page.title %}
		{{ page.title }} &ndash; {{ site.url }}
		{% else %}
		{{ site.name }}. {{ site.tagline }}
		{% endif %}
	</title>
	<link rel="stylesheet" href="{{ site.github.url }}/css/index.min.css">
	<!-- <style media="screen">
		html{background-color:#343232}body{background-color:#fdfdfd;color:#1a1919;border-top:.025em solid #1a1919}a{color:#459dbf;transition:color 200ms linear 0s}a.home-link{color:#fff;background-color:#1a1919}.article-collection-item{border-bottom:1px solid rgba(0,0,0,.1)}html{line-height:1.5}body{font-family:RobotoDraft,Roboto,"Open Sans","Source Sans Pro",Lato,"PT Sans","Droid Sans",Calibri,Ubuntu,sans-serif;font-size:1em}a{text-decoration:none}.home-link{font-weight:600;font-style:normal}.article-collection li{list-style-type:none}.article-collection .article-permalink{line-height:1.35;font-weight:500;font-size:1.15em}.article-collection .article-pubdate{font-family:RobotoDraft,Roboto,"Open Sans","Source Sans Pro",Lato,"PT Sans","Droid Sans",Calibri,Ubuntu,sans-serif;font-weight:300;text-transform:uppercase;letter-spacing:.0625em;font-size:.925em}body{margin:0}header,section{display:block}.page-wrapper{margin:0 auto;padding:0 .5em 1em;width:90%}.site-header{display:block;margin-bottom:3em;padding-top:0;margin-left:-6%}.home-link{margin:0;width:100%;display:block;padding:1em 0 .5em 1em}.article-collection{margin-top:15%;padding-left:0}.article-collection .article-pubdate{display:block;padding-bottom:4px}.article-collection .article-collection-item{margin:0 0 .875em;padding-bottom:2em}.article-collection-item{margin:0;padding-bottom:.375em}@media screen and (min-width:32.9412em){body{font-size:120%;margin-top:.5em}.site-header{margin-left:0}.home-link{padding:.5em;width:1.3em}.page-wrapper{max-width:25em}}@media all and (min-width:41.875em){body{font-size:130%}.page-wrapper{max-width:28em}}@media screen and (min-width:75em){body{font-size:150%}.page-wrapper{max-width:30em}}
	</style> -->
</head>
<body>

	<div class="page-wrapper">
		<header class="site-header" role="banner">
			<a class="home-link" href="/">KS</a>
		</header>

		{{ content }}

	</div>

	<footer class="site-footer" role="contentinfo">
		<div class="footer-wrapper">
			<aside class="footer-module" role="complementary">
				<h2 class="footer-module-heading">About me</h2>
				<p class="footer-module-content">I'm Kevin Suttle. I'm a Senior Product Designer and Front-end Developer at <a href="http://ibm.com/design">IBM Design</a> in Austin, Texas. <a href="/about">Learn more about me</a>, or <a href="mailto:kevin@suttle.io">get in touch</a>.</p>
			</aside>

			<aside class="footer-module" role="complementary">
				<h2 class="footer-module-heading">Elsewhere</h2>
				<ul class="footer-module-content">
					<li><a href="https://twitter.com/kevinSuttle" title="You should follow me on Twitter." rel="external">Twitter</a></li>
					<li><a href="https://github.com/kevinSuttle" title="Check out my code on Github. See what I did there?" rel="external">GitHub</a></li>
					<li><a href="https://linkedin.com/in/kevinSuttle" title="I'm open to connect on LinkedIn" rel="external">LinkedIn</a></li>
				</ul>
			</aside>
		</div>
	</footer>
	<script>var cb=function(){var e=document.createElement("link");e.rel="stylesheet";e.href="css/index.min.css";var t=document.getElementsByTagName("head")[0];t.parentNode.insertBefore(e,t)};var raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;if(raf)raf(cb);else window.addEventListener("load",cb)
	</script>
</body>
</html>
