---
layout: index
---

<main class="article-content" role="main">
	<article>
		<header>
			<h1 class="article-title"><a class="article-permalink" href="{{page.url}}">{{ page.title }}</a></h1>
			<time class="article-pubdate" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %e, %Y" }}</time>
		</header>

		{{ content }}

	</article>
</main>

<hr/>

<footer class="article-footer">
	<nav>
		<dl>
			{% if page.previous.url %}
				<dt class="article-nav-label">Previous article:</dt> <dd><a href={{ page.previous.url }} rel="prev" class="article-nav-link">{{ page.previous.title }}</a></dd>
			{% endif %}

			{% if page.next.url %}
				<dt class="article-nav-label">Next article:</dt> <dd><a href={{ page.next.url }} rel="next" class="article-nav-link"> {{ page.next.title }}</a></dd>
			{% endif %}
		</dl>
	</nav>
</footer>
